<table class="list">
  <thead>
  <tr>
    <th>User</th>
    <th>Suggested roles</th>
    <th>Date</th>
    <th>Comment</th>
    <th>Status</th>
    <th>Group</th>
    <th>Action</th>

  </tr>
  </thead>
  <tbody>
  <% @rapp.each do |ra| %>
      <% klass= ''
         if ra.status == 'Rejected'
           klass = 'background-color: #ffe3e3;'
         end
         if ra.status == 'Accepted'
           klass = ' background-color: #dfffdf;'
         end
      %>
      <tr style="<%= klass %>">
        <td hidden class="rapp_id" id="rapp_id_<%= ra.id %>"><%= ra.id %></td>
        <td><%= ra.user %></td>
        <td><%= ra.role %></td>
        <td><%= ra.created_at.to_date %></td>
        <td><%= ra.comment %></td>
        <td class="status">
          <%= select_tag :status, options_for_select([['', ''],['Accepted', 'Accepted'],['Rejected','Rejected']], ra.status ) %>
        </td>
        <td><%= ra.user.groups.present? ? ra.user.groups.first.to_s : '' %></td>
        <td><%= button_tag :save, :class=> 'submit_rapp' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(function(){
        $('.submit_rapp').on('click', function(e){
            tr = $(this).parents('tr');
            id = tr.children('.rapp_id').html();
            status = tr.children('.status').children('select').val();
            $.getScript('index?rapp_id='+id+ "&status="+status);
        })
    })
</script>